# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Database
*.db
*.db-shm
*.db-wal

# ChromaDB persistent storage
backend/chroma_db/

# Environnement
.env

# Poetry
poetry.lock

# Node
node_modules/
dist/

# DeepEval
.deepeval/

# IDE
.vscode/
.idea/

# OS
.DS_Store
